---
http_interactions:
- request:
    method: get
    uri: https://api.callrail.com/v2/a/<CALL_RAIL_ACCOUNT_ID>/trackers.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<CALL_RAIL_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Rate-Limit-Hourly-Allowed:
      - '250'
      X-Rate-Limit-Hourly-Used:
      - '1'
      X-Rate-Limit-Daily-Allowed:
      - '2500'
      X-Rate-Limit-Daily-Used:
      - '10'
      Etag:
      - W/"8cc38bdbac17d9bb67d1dc5c3ba2a3b0"
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":100,"total_pages":1,"total_records":3,"trackers":[{"id":677996186,"name":"For
        Offline usage","type":"source","status":"disabled","destination_number":"+15732346321","tracking_numbers":[],"whisper_message":"Call
        from Nowhere.","sms_supported":false,"sms_enabled":false,"company":{"id":196815299,"name":"Test"},"source":{"type":"offline"},"call_flow":{"type":"basic","recording_enabled":true,"destination_number":"+15732346321","greeting_text":"This
        call will be recorded for quality assurance.","greeting_recording_url":null},"created_at":"2018-04-09T09:13:59.464Z","disabled_at":"2018-04-11T13:18:29.422Z"},{"id":180413883,"name":"Number
        for Online usage","type":"session","status":"disabled","destination_number":"+15732346321","tracking_numbers":[],"whisper_message":"Call
        from Jensen or from Nowhere, I''m not sure yet.","sms_supported":false,"sms_enabled":false,"company":{"id":196815299,"name":"Test"},"source":{"type":"all"},"call_flow":{"type":"basic","recording_enabled":true,"destination_number":"+15732346321","greeting_text":"This
        call will be recorded for quality assurance.","greeting_recording_url":null},"created_at":"2018-04-09T09:20:17.349Z","disabled_at":"2018-04-11T13:18:29.454Z"},{"id":966350928,"name":"Ofline
        number","type":"source","status":"active","destination_number":"+12062662992","tracking_numbers":["+19284401365"],"whisper_message":"Call
        from jensen or from nowhere, i don''t know yet","sms_supported":true,"sms_enabled":true,"company":{"id":196815299,"name":"Test"},"source":{"type":"offline"},"call_flow":{"type":"basic","recording_enabled":true,"destination_number":"+12062662992","greeting_text":"This
        call will be recorded for quality assurance.","greeting_recording_url":null},"created_at":"2018-04-11T13:27:36.317Z","disabled_at":null}]}'
  recorded_at: Sat, 21 Apr 2018 20:55:37 GMT
recorded_with: VCR 4.0.0
