---
http_interactions:
- request:
    method: get
    uri: https://api.callrail.com/v2/a/<CALL_RAIL_ACCOUNT_ID>/trackers/677996186.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<CALL_RAIL_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"131c9a6bdaef2a3d25b9ab62b5837c16"
    body:
      encoding: UTF-8
      string: '{"id":677996186,"name":"For Offline usage","type":"source","status":"disabled","destination_number":"+15732346321","tracking_numbers":[],"whisper_message":"Call
        from Nowhere.","sms_supported":false,"sms_enabled":false,"company":{"id":196815299,"name":"Test"},"source":{"type":"offline"},"call_flow":{"type":"basic","recording_enabled":true,"destination_number":"+15732346321","greeting_text":"This
        call will be recorded for quality assurance.","greeting_recording_url":null},"created_at":"2018-04-09T09:13:59.464Z","disabled_at":"2018-04-11T13:18:29.422Z"}'
  recorded_at: Sat, 21 Apr 2018 21:09:48 GMT
recorded_with: VCR 4.0.0
