---
http_interactions:
- request:
    method: get
    uri: https://api.callrail.com/v2/a/<CALL_RAIL_ACCOUNT_ID>/trackers.json?page=2&per_page=250
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<CALL_RAIL_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Rate-Limit-Hourly-Allowed:
      - '250'
      X-Rate-Limit-Hourly-Used:
      - '3'
      X-Rate-Limit-Daily-Allowed:
      - '2500'
      X-Rate-Limit-Daily-Used:
      - '15'
      Etag:
      - W/"11a106d51128a6c73b6c28edae2cdd40"
    body:
      encoding: UTF-8
      string: '{"page":2,"per_page":250,"total_pages":1,"total_records":3,"trackers":[]}'
  recorded_at: Sat, 21 Apr 2018 21:02:05 GMT
recorded_with: VCR 4.0.0
