---
http_interactions:
- request:
    method: get
    uri: https://api.callrail.com/v2/a/<CALL_RAIL_ACCOUNT_ID>.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<CALL_RAIL_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Rate-Limit-Hourly-Allowed:
      - '250'
      X-Rate-Limit-Hourly-Used:
      - '9'
      X-Rate-Limit-Daily-Allowed:
      - '2500'
      X-Rate-Limit-Daily-Used:
      - '9'
      Etag:
      - W/"e7730a8eb04fc14f83f64e058e34963d"
    body:
      encoding: UTF-8
      string: '{"id":<CALL_RAIL_ACCOUNT_ID>,"name":"Test","outbound_recording_enabled":false}'
  recorded_at: Sat, 21 Apr 2018 19:45:21 GMT
recorded_with: VCR 4.0.0
