---
http_interactions:
- request:
    method: get
    uri: https://api.callrail.com/v2/a.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<CALL_RAIL_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"51cae74e3fdd534ca6181661d64d6faa"
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":100,"total_pages":1,"total_records":1,"agencies":[{"id":<CALL_RAIL_ACCOUNT_ID>,"name":"Test","outbound_recording_enabled":false}],"accounts":[{"id":<CALL_RAIL_ACCOUNT_ID>,"name":"Test","outbound_recording_enabled":false}]}'
  recorded_at: Sat, 21 Apr 2018 19:45:23 GMT
recorded_with: VCR 4.0.0
