---
http_interactions:
- request:
    method: get
    uri: https://api.callrail.com/v2/a/<CALL_RAIL_ACCOUNT_ID>/calls.json?page=2&per_page=250
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<CALL_RAIL_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Rate-Limit-Hourly-Allowed:
      - '250'
      X-Rate-Limit-Hourly-Used:
      - '3'
      X-Rate-Limit-Daily-Allowed:
      - '2500'
      X-Rate-Limit-Daily-Used:
      - '3'
      Etag:
      - W/"5dc3555435899e16bf295cb769009ba4"
    body:
      encoding: UTF-8
      string: '{"page":2,"per_page":250,"total_pages":1,"total_records":2,"calls":[]}'
  recorded_at: Sun, 22 Apr 2018 17:41:03 GMT
recorded_with: VCR 4.0.0
