---
http_interactions:
- request:
    method: get
    uri: https://api.callrail.com/v2/a/<CALL_RAIL_ACCOUNT_ID>/calls.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<CALL_RAIL_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Rate-Limit-Hourly-Allowed:
      - '250'
      X-Rate-Limit-Hourly-Used:
      - '2'
      X-Rate-Limit-Daily-Allowed:
      - '2500'
      X-Rate-Limit-Daily-Used:
      - '2'
      Etag:
      - W/"fa6b6aa1024faed85c70a283e2932acd"
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":100,"total_pages":1,"total_records":2,"calls":[{"answered":true,"business_phone_number":"+19287738225","customer_city":"Columbia","customer_country":"US","customer_name":"COLUMBIA,
        MO","customer_phone_number":"+15732346321","customer_state":"MO","direction":"inbound","duration":33,"id":589800616589800616,"recording":"https://api.callrail.com/v2/a/<CALL_RAIL_ACCOUNT_ID>/calls/589800616/recording","recording_duration":18,"recording_player":"https://app.callrail.com/calls/589800616/recording?access_key=f46ec4a2845e942aeb6f","start_time":"2018-04-12T10:44:53.236-04:00","tracking_phone_number":"+19284401365","voicemail":false},{"answered":true,"business_phone_number":"+19287738225","customer_city":"Columbia","customer_country":"US","customer_name":"COLUMBIA,
        MO","customer_phone_number":"+15732346321","customer_state":"MO","direction":"inbound","duration":24,"id":529206383,"recording":"https://api.callrail.com/v2/a/<CALL_RAIL_ACCOUNT_ID>/calls/529206383/recording","recording_duration":12,"recording_player":"https://app.callrail.com/calls/529206383/recording?access_key=e84ef8447a44228e703e","start_time":"2018-04-12T10:41:55.909-04:00","tracking_phone_number":"+19284401365","voicemail":false}]}'
  recorded_at: Sun, 22 Apr 2018 17:41:02 GMT
recorded_with: VCR 4.0.0
