---
http_interactions:
- request:
    method: get
    uri: https://api.callrail.com/v2/a/<CALL_RAIL_ACCOUNT_ID>/calls/summary.json?group_by=source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<CALL_RAIL_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Rate-Limit-Hourly-Allowed:
      - '250'
      X-Rate-Limit-Hourly-Used:
      - '1'
      X-Rate-Limit-Daily-Allowed:
      - '2500'
      X-Rate-Limit-Daily-Used:
      - '5'
      Etag:
      - W/"83ed94ed92ffd3e25393ecbbc667eba6"
    body:
      encoding: UTF-8
      string: '{"start_date":"2018-03-23T00:00:00-0400","end_date":"2018-04-22T23:59:59-0400","time_zone":"Eastern
        Time (US \u0026 Canada)","total_results":{"total_calls":2},"grouped_by":"source","grouped_results":[{"key":"Ofline
        number","total_calls":2}]}'
  recorded_at: Sun, 22 Apr 2018 18:40:41 GMT
recorded_with: VCR 4.0.0
