---
http_interactions:
- request:
    method: get
    uri: https://api.callrail.com/v2/a/<CALL_RAIL_ACCOUNT_ID>/calls/timeseries.json?end_date=2018-04-22&fields=missed_calls,answered_calls,first_time_callers,average_duration,formatted_average_duration,leads&start_date=2018-03-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<CALL_RAIL_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Rate-Limit-Hourly-Allowed:
      - '250'
      X-Rate-Limit-Hourly-Used:
      - '2'
      X-Rate-Limit-Daily-Allowed:
      - '2500'
      X-Rate-Limit-Daily-Used:
      - '6'
      Etag:
      - W/"749f08291fba1c9a8117a9735f881d35"
    body:
      encoding: UTF-8
      string: '{"start_date":"2018-03-23T00:00:00-0400","end_date":"2018-04-22T23:59:59-0400","time_zone":"Eastern
        Time (US \u0026 Canada)","total_results":{"total_calls":2,"missed_calls":0,"answered_calls":2,"first_time_callers":1,"average_duration":28,"formatted_average_duration":"28s","leads":0},"data":[{"key":"2018-03-23","date":"2018-03-23","total_calls":0,"missed_calls":0,"answered_calls":0,"first_time_callers":0,"average_duration":0,"formatted_average_duration":"0s","leads":0},{"key":"2018-03-24","date":"2018-03-24","total_calls":0,"missed_calls":0,"answered_calls":0,"first_time_callers":0,"average_duration":0,"formatted_average_duration":"0s","leads":0},{"key":"2018-03-25","date":"2018-03-25","total_calls":0,"missed_calls":0,"answered_calls":0,"first_time_callers":0,"average_duration":0,"formatted_average_duration":[...]
